@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-backGroundColour;
  background-image: 
  linear-gradient(to right, theme('colors.gridColour') 1px, transparent 1px),
  linear-gradient(to bottom, theme('colors.gridColour') 1px, transparent 1px);
background-size: 25px 25px;
}

:root {
  font-family: 'Baloo Tammudu 2', cursive, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.inputFieldStyle {
  @apply w-96 h-12 rounded-3xl border-2 border-borderColour text-placeholderColour bg-fillColour outline-none px-4 py-2 mb-6;
  line-height: 1; /* Adjust this value as needed */
  @apply flex items-center; /* This centers the text vertically */
}

.inputFieldStyle::placeholder {
  @apply text-placeholderColour;
  opacity: 0.5;
}


.buttonStyle {
  @apply w-96 h-12 rounded-3xl border-borderColour bg-buttonFill text-fillColour mb-6;
  line-height: 1; 
  @apply flex items-center justify-center; 
}


.buttonStyle:hover{
  @apply bg-hoverFill;
}

